//Tipografia
$fuente_principal: 'Monserrat', sans-serif;

//Colores
$verde: #4CB8B3;
$rosa: #F53756;
$amarillo: #FEF46D;
$morado: #752F97;
$negro: #000000;
$blanco: #FFFFFF;

//Tamaños MQ

$phone: 480px;
$tablet: 720px;
$desktop: 992px;
$desktopXL: 1200px;


